<%= form_for (OrderDetail.new) , :html => {:class => "form-inline"} do |f| %>


  

  <div class="form-group">
    <%= f.label :item %><br>
    <%= f.text_field :item  , :class => 'form-control' , :placeholder => "Enter Item" %>
  </div>
  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.number_field :amount , :class => 'form-control' , :placeholder => "Amount"  %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price , :class => 'form-control' , :placeholder => "Price"  %>
  </div>
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_field :comment , :class => 'form-control' , :placeholder => "Enter Any Comment"  %>
  </div>
  <p>
        <%= f.hidden_field :user_id, value: current_user.id %>
  </p>
  <p>
        <%= f.hidden_field :order_id , value: @order.id %>
  </p>
  <div class="form-group">
    <%= f.submit  :class => 'btn btn-info pull-right' %>
  </div>
<% end %>
