<h1>New Group</h1>

<%= render 'form' %>

<% #link_to 'Back', groups_path %>
<p class="clearfix"></p>
<div class="col-md-5 pull-left border">
	<h3>My Groups</h3> 
	<ul class="gr">
	    <% @groupsData.each do |data| %>
         <li>
            <span class:'groupd pull-left col-sm-6'>
              <%= data.group_name %></span>
              <span class="pull-right icons">
              <a href='javascript:void(0)' onclick="displayGroup(<%= data.id %>)">
              	<%= icon('user-plus', class: 'strong')%>
              	</a>
              </span>
               <span class="pull-right  icons"></a>
              	<a href=''><%= icon('trash', class: 'strong')%></a>
              </span>
            <p class="clearfix"></p>
         </li>
	    <% end %>
	</ul>
</div>
<div class="col-md-5 pull-right border">
  <div id="results">
  	<h2></h2>
    <%= render 'members/form' %>


  <ul id="users"></ul>
  </div>	
</div>
<script type="text/javascript">
  function displayGroup(id){
  	$('#users').html("");
  	  $.ajax({
	    type: "GET",
	    url: 'group_member/' + id,
	    dataType: "JSON",
	    success: function(data) {
	      	$("#results h2").html(data.groups[0].group_name);
	      	$("#group_member_group_id").attr('value',data.groups[0].id);
	      for (var x=0;x< data.usrGroups.length;x++){
	      	$('#users').append("<li><img src='"+data.usrGroups[x].image.url+"' class='img'/>"+data.usrGroups[x].name+"</li>");
	      } 	
	     }
  });

}
</script>