<%= form_for (@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.label :order %><br>
  <%= f.select(:order) do %>
    <% [['Breakfast', 'Breakfast'], ['Lunch', 'Lunch'],['Dinner' ,'Dinner']].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
  <% end %>
  </div>




  <div class="field">
    <%= f.label :resturant %><br>
    <%= f.text_field :resturant %>
  </div>



   <p>
        <%= f.hidden_field :user_id, value: current_user.id %>
  </p>

  <div class="field">
    <%= f.label :Invited_Friends %><br>
      <%= f.text_field :invited %>
  </div>


  <div class="field">

    <%= f.hidden_field  :status , value: "waiting" %>
  </div>

  <div class="field form-group">
    <%= f.label :image do %>
      <%= f.file_field :image ,class: 'form-control' %>
      <%= f.hidden_field :image_cache  %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
