<div id="main-container" class="container-fluid"  >

  <div class="container">


  <p id="notice"><%= notice %></p>

    <!--latest orders-->

    <div class="col-sm-6">
      <h1>Latest Orders</h1>
      <table class="table" >
        <thead>
        </thead>
        <tbody>

        <% @order.each do |order| %>

            <tr class="info|" >
              <td class="danger"><h4><%= order.order %></h4> <%= "Ordered at"%> <%= order.updated_at %></td>

            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <!--friends activity-->

    <div class="col-sm-6">
    <h1>Latest Orders</h1>
      <table class="table" >
      <thead>
      </thead>
        <tbody>


        <% @friend.each do |friend| %>

          <tr class="success" >


           <div class="col-sm-6 col-md-6 col-xs-6"> <%= link_to(image_tag(friend.image.url) ) %> <br> <%= friend.name %><br><%= link_to 'unfriend', method: :delete, data: { confirm: 'Are you sure?' } %>

             </div>



                </tr>
      <% end %>
      <% @friend_orders.each do |friend_orders| %>
            <tr class="" >
              <td>
                <%= friend_orders.name %>
                <br>
                <%= friend_orders.order %>
              </td>
            </tr>
        <% end %>
            </tbody>
    </table>
</div>




    <br>
  </div>
</div>
	
