<div id="main-container" class="container-fluid" xmlns="http://www.w3.org/1999/html">

  <div class="container">


  <p id="notice"><%= notice %></p>

    <!--latest orders-->

    <div class="col-sm-6">
      <h3>Latest Orders</h3>
      <table class="table" >
        <thead>
        </thead>
        <tbody>

        <% @order.each do |order| %>

            <tr class="info|" >
              <td class="danger"><h4><%= order.order %></h4> <%= "Ordered at"%> <%= order.updated_at %></td>

            </tr>
        <% end %>
        </tbody>
      </table>
    </div>



 
    <!--friends activity-->

    <div class="col-sm-6">
    <h3>Friends Activities</h3>
      <table class="table" >
      <thead>
      </thead>
        <tbody>


         <% @friend_orders.each do |friend_orders| %>
            <tr class="" >
              <td class="danger">
                <h4><%= friend_orders.name %></h4> <%= "has created an order for"%> <%= friend_orders.order %> <%= "from" %> <%= friend_orders.resturant %>


              </td>
            </tr>
        <% end %>
            </tbody>
    </table>
</div>




    <br>
  </div>
</div>
  