<!DOCTYPE html>
<html>
<head>
  <title>Otlob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container-fluid">
          <div class="container-fluid">
              <header>
                <div class="logo pull-left col-md-6 col-sm-12">
                    <%= image_tag "logo.png" %>
                </div>
                <div class="logo pull-right col-md-6 col-sm-12">
                  <p class="primeTagLine">Life is short.  Stay awake for it.</p>
                </div>
                <p class="clearfix"></p>
              </header>
              <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Home</a></li>
                      <li><a href="#">Page 1</a></li>
                      <li><a href="#">Page 2</a></li> 
                      <li><a href="#">Page 3</a></li> 
                    </ul>
                  </div>
                </nav>
				 <div class="content ">				 	
				<%= yield %>
				 </div>
          </div>
        </div>
          <div class="footer">
            <p>Copy right &copy; iti 2015 </p>
          </div>
</body>
</html>
