<!DOCTYPE html>
<html>
<head>
  <title>Otlob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container-fluid">
          <div class="container-fluid">
              <header>
                <div class="logo pull-left col-md-6 col-sm-12">
                    <%= image_tag "logo.png" %>
                </div>
                <div class="logo pull-right col-md-6 col-sm-12">
                  <p class="primeTagLine">Life is short.  Stay awake for it.</p>
                </div>
                <p class="clearfix"></p>
              </header>
              <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                       <% if user_signed_in? %>
                          <li class="active"><a href="#">Home</a></li>
                         <li><a href="#" class="imgusr">
                          <%= image_tag(current_user.image.url) %>
                          <%= current_user.name %>
                          </a></li>
                          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  </li>
                         <% else %> 
                          <li class="active"><a href="#">Home</a></li>
                          <li>  <%= link_to('Login', new_user_session_path)  %> </li>
                          <li>  <%= link_to('Register', new_user_registration_path)  %></li> 
                      <% end %>
                    </ul>
                  </div>
                </nav>
				 <div class="content ">				 	
				<%= yield %>
				 </div>
          </div>
        </div>
          <div class="footer">
            <p>Copy right &copy; iti 2015 </p>
          </div>
</body>
</html>
